/* Estilo geral da página */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #0C002B;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
}

/* Estilo da navbar */
.header {
    background-color: #0C002B;
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.voltarBtn button {
    background-color: #FFFFFF;
    color: #0C002B;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.voltarBtn button:hover {
    background-color: #E5E5E5;
}

.perfil {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
}

.icon-large {
    font-size: 30px;
    margin-left: 10px;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #FFFFFF;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #1C1C3A;
}

th {
    background-color: #0C002B;
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

td {
    font-size: 16px;
}

/* Botão Agendar */
.agendarBtn {
    background-color: #FFFFFF;
    color: #0C002B;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.agendarBtn:hover {
    background-color: #E5E5E5;
}
/* mudar butao de confirmar agendamento */
.swal2-styled-button {
    background-color: #3085d6;  /* Azul */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.swal2-styled-button:hover {
    background-color: #2563ad;  /* Cor mais escura ao passar o mouse */
}


/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #0C002B;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.reserved {
    margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    th, td {
        font-size: 14px;
    }

    .voltarBtn button {
        font-size: 14px;
    }

    .agendarBtn {
        font-size: 14px;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    th, td {
        font-size: 12px;
    }

    .voltarBtn button {
        font-size: 12px;
    }

    .agendarBtn {
        font-size: 12px;
        padding: 6px 10px;
    }
}
