:root { 
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --radius: 0.5rem;
}

body, .corpo1 {
    background: radial-gradient(#13072e, black);
    color: hsl(var(--foreground));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

.formulario {
    width: 100%;
    max-width: 28rem;
    padding: 1.5rem;
    background-color: hsl(var(--card));
    border-radius: var(--radius);
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.titulo, .subtitulo {
    color: hsl(var(--foreground));
    text-align: center;
}

.label {
    display: block;
    font-size: 0.875rem;
    font-weight: medium;
}

.input {
    margin-top: 0.25rem;
    width: 100%;
    border: 1px solid hsl(var(--border));
    border-radius: 0.375rem;
    padding: 0.5rem;
}

.botao {
    width: 100%;
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    border-radius: 0.5rem;
    margin-top: 20px;
    padding: 0.5rem;
    cursor: pointer;
}

.botao:hover {
    background-color: #000000;
}

.botao-v {
    position: absolute;
    top: 10vh;
    left: 25vh;
}

/* Posições das imagens no desktop */
.Corte {
    position: absolute;
    bottom: 5vh;
    left: 5vh;
}

.Bigode {
    position: absolute;
    top: 30vh;
    right: 5vh;
}

/* Imagem móvel (logo) */
.imagem-mobile {
    display: none; /* Oculta a imagem por padrão */
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
    /* Centralização do formulário e logo */
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        padding: 1rem;
    }

    .formulario {
        margin-top: 1rem;
        width: 90%;
        padding: 1rem;
        text-align: center;
    }

    /* Exibir a logo em dispositivos móveis */
    .imagem-mobile {
        display: block;
        margin-top: 5vh; /* Ajuste para aproximar da margem superior */
        width: 200px;
        height: auto;
    }

    .botao-v {
        position: fixed;
        top: 1rem;
        left: 1rem;
    }

    /* Ocultar imagens de desktop em telas de celular */
    .Corte, .Bigode {
        display: none;
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 1.25rem;
    color: hsl(var(--primary-foreground));
    background-color: transparent;
    position: fixed; /* Alterado de absolute para fixed */
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Arial, sans-serif;
}