* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #0b0024;
    color: white;
    line-height: 1.6;
}

.container {
    width: 85%;
    margin: auto;
}

.header {
    background: linear-gradient(to bottom, #1a0454, #0b0024);
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo img {
    margin-top: 0;
    width: 170px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px; 
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition: color 0.3s ease, border-bottom 0.3s ease; 
    border-bottom: 3px solid transparent; 
}

.nav-links li a:hover {
    color: #b197fc;
    border-bottom: 3px solid #b197fc; 
}

.nav-links li.login a {
    background-color: transparent; 
    padding: 10px 20px; 
    border: 2px solid #b197fc; 
    border-radius: 25px; 
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.nav-links li.login a:hover {
    background-color: #b197fc; 
    color: white; 
}

.hero {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    padding: 1rem 0;
    background-color: #0b0024;
    color: white;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-top: 0; 
    max-width: 70%;
}

.hero-text h1 {
    font-size: 50px; 
    margin-bottom: 0; 
    text-transform: uppercase;
    line-height: 1.2;
}

.hero-text p {
    font-size: 25px; 
    margin-bottom: 1rem;
}

.hero-image img {
    max-width: 450px; 
    height: auto;
    border-radius: 15px;
}

.btn-schedule {
    padding: 1rem 2.5rem; 
    background-color: white;
    color: #0b0024;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; 
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.btn-schedule:hover {
    background-color: #b197fc;
}

footer {
    background-color: #0b0024;
    text-align: center;
    padding: 1rem 0; 
}

footer p {
    color: white;
}
