/* styles.css */
body {
    background-color: #13072e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.login-container {
    background-color: white;
    position: relative;
    padding: 30px;
    left: 5%;
    border: 3px solid black;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 350px;
    text-align: center;
}

h2{
    color: black;
}

h4{
    color: black;
}

.input-group{
    color: black;
}

.login-header h2 {
    margin-bottom: 10px;
}

.login-header p {
    margin-bottom: 30px;
    color: black;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
    
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-color: black;
    border-radius: 5px;
    box-sizing: border-box;
    
}

button {
    width: 50%;
    padding: 10px;
    background-color: #13072e;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #13072e;
}

.img-logo {
    height: 70vh;
}

.Logo-logar{
    position: relative;
    right: 40px;
}

.linha-ou {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  
  .linha-ou::before,
  .linha-ou::after {
    content: "";
    flex: 1;
    border-bottom: 0.5px solid #000;
    margin: 0 10px;
  }
  
  .linha-ou span {
    font-weight: bold; 
    padding: 0 10px;
    color: #000;
    font-size: 14px;
  }
