/* Estilo padrão para desktop */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.back-pag {
    background-color: #13072e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 2rem;
}

.centralizado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Logo-logar {
    left: 1%;
    margin: 0 0 2rem 0;
}

.img-logo {
    height: 43.75vh;
}

.login-container {
    background-color: white;
    position: relative;
    padding: 1.875rem;
    border: 0.1875rem solid black;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
    width: 21.875rem;
    text-align: center;
}

h2, h4 {
    color: black;
}

.input-group {
    color: black;
    margin-bottom: 1.25rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.3125rem;
}

.input-group input {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid black;
    border-radius: 0.3125rem;
    box-sizing: border-box;
}

button {
    width: 50%;
    padding: 0.625rem;
    background-color: #13072e;
    border: none;
    border-radius: 0.625rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1.25rem;
}

button:hover {
    background-color: #13072e;
}

.B-entrar, .B-cadastro {
    border-radius: 0.625rem 2.1875rem;
}

/* Linha com 'OU' */
.linha-ou {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1.25rem 0;
}

.linha-ou::before,
.linha-ou::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
    margin: 0 0.625rem;
}

.linha-ou span {
    font-weight: bold;
    padding: 0 0.625rem;
    color: #000;
    font-size: 0.875rem;
}

.forgot-password {
    text-align: center;
    margin-top: 0.3125rem;
    font-size: 0.875rem;
    width: 100%;
}

.forgot-password a {
    display: inline-block;
    color: #13072e;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin: 0 auto;
}

.forgot-password a:hover {
    color: #ff6347;
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
    .back-pag {
        flex-direction: column;
        padding: 1rem;
    }

    .Logo-logar {
        margin: 0;
    }

    .img-logo {
        height: 150px;
        width: auto;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
    }

    .login-container {
        width: 100%;
        max-width: 350px;
        padding: 1rem;
    }

    button {
        width: 100%;
    }
}
