/* Estilo padrão para desktop */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.back-pag {
    background-color: #13072e;
}

.login-container {
    background-color: white;
    position: relative;
    padding: 1.875rem;
    left: 0.3125rem;
    border: 0.1875rem solid black;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
    width: 21.875rem;
    text-align: center;
}

h2, h4 {
    color: black;
}

.input-group {
    color: black;
}

.login-header h2 {
    margin-bottom: 0.625rem;
}

.login-header p {
    margin-bottom: 1.875rem;
    color: black;
}

.input-group {
    margin-bottom: 1.25rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.3125rem;
}

.input-group input {
    width: 100%;
    padding: 0.625rem;
    border-color: black;
    border-radius: 0.3125rem;
    box-sizing: border-box;
}

button {
    width: 50%;
    padding: 0.625rem;
    background-color: #13072e;
    border: none;
    border-radius: 0.625rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1.25rem;
}

button:hover {
    background-color: #13072e;
}

.B-entrar, .B-cadastro {
    border-radius: 0.625rem 2.1875rem;
}

.img-logo {
    height: 43.75vh;
}

.Logo-logar {
    right: 2.5rem;
}

.linha-ou {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1.25rem 0;
}

.linha-ou::before,
.linha-ou::after {
    content: "";
    flex: 1;
    border-bottom: 0.03125rem solid #000;
    margin: 0 0.625rem;
}

.linha-ou span {
    font-weight: bold;
    padding: 0 0.625rem;
    color: #000;
    font-size: 0.875rem;
}

.forgot-password {
    text-align: center;
    margin-top: 0.3125rem;
    font-size: 0.875rem;
    width: 100%;
}

.forgot-password a {
    display: inline-block;
    color: #13072e;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin: 0 auto;
}

.forgot-password a:hover {
    color: #ff6347;
<<<<<<< HEAD
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        padding-top: 20px;
    }

    .Logo-logar {
        order: -1; /* Coloca a logo no topo */
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        margin-bottom: 10px; /* Ajustado para ficar mais próximo do formulário */
    }

    .img-logo {
        max-height: 140px; /* Aumenta um pouco o tamanho da logo em telas menores */
        width: auto;
        border-radius: 50%;
        object-fit: cover;
    }

    .login-container {
        width: 90%;
        padding: 20px;
        margin-top: 10px; /* Adiciona um pequeno espaço no topo para afastar do topo da tela */
    }

    button {
        width: 70%;
    }
=======
>>>>>>> ca89446d5eef10bae973f50debce529478e0213e
}
